
.cards ul {
  display: flex;
  flex-direction: column;
  gap: .5rem; 
  margin: 0;
  padding: 0;
  
}

.cards li {
  position: relative;
  list-style: none;
}

.cards-card-image {
  width: 100%;
  
}

.cards-card-image img {
  width: 60%;
  display: block;
  margin: auto;
}

.cards-card-body {
  position: absolute;
  top:1%;
  
  width: 100%;
  color: white;
  padding: 0;
  text-align: center;
}
.cards-card-body >:first-child{
  font-size:1.1em;
  letter-spacing: .2rem;
}
.cards-card-body p:nth-of-type(2){
  
  font-size: .9rem;
}

 @media (min-width:600px){
  
  .cards ul {
    flex-direction: column;
  }
  
  .cards-card-body {
    top:5%;
  }
  .cards-card-body >:first-child{
    font-size:2.2em;
   
  }
  .cards-card-body p:nth-of-type(2){
    font-size: 1.2rem;
  }
} 
@media(min-width:900px){
  .cards ul {
    flex-direction: row;
  }
  .cards-card-body{
    top: -1%;
  }  
  .cards-card-image img {
    width: 100%;
  }
}